<h2><%= @title %></h2>
<p><%= @text %></p>

<button>変更</button>
<form action="/delete" method="POST">
 <input type="hidden" name="title" value="<%= @title %>">
 <input type="hidden" name="text" value="<%= @text %>">
 <button type="submit" class="btn">削除</button>
</form>

<a href="/">一覧へ戻る</a>